body, html{
    background-color: orange;
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar a{
    float: right;
    letter-spacing: 3px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 25px;
    color: brown;
    transition: all .2s ease-in-out;
    border-radius: 50px;
}
.navbar a:hover{
    transform: scale(1.1);
}
.logo{
    background-color: yellow;
    color: brown;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    border-radius: 8px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    text-shadow: orange 1px 1px 1px;
}
.detroit-pic{
    height: 15rem;
    width: 100%;
    margin: 0;
    border-radius: 1.1rem;
}
.detroit-text{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: white;
    text-shadow: black 3px 3px 5px;
    top: 10rem; 
}
.events-pics{
    position: relative;
    height: 233px;
    margin-bottom: 30px;
    display: flex;
    width: fit-content;
    gap: 50px;
    margin-top: 50px;
    background-color: white;
    padding-bottom: 5rem;
    padding-top: 1rem;
    white-space: nowrap;
    overflow: auto;
}

.kwanza-run-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 8px black;
}

.kwanza-but{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
}

.events-pics img {
  margin: 0px 0px;
  box-shadow: 2px 2px 8px #8a8a8a;
}
.events-pics {
  animation: bannermove 50s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
div.events-pics img{
    height: 300px;
}
@media screen and (max-width:1080px) 
and (min-width:100px){

    .navbar a{
        font-size: 18px;
        letter-spacing: -1px;
    }
    .logo{
        text-align: center;
        padding-top: 60px;
        font-size: 40px;
    }
    .detroit-text{
        font-size: 2rem;
        top: 19rem;
    }
    .detroit-pic{
        width: 100%;
    }
}
