
body, html{
    background-color: orange;
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a{
    float: right;
    letter-spacing: 3px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 25px;
    color: brown;
    transition: all .2s ease-in-out;
    border-radius: 50px;
}

.navbar a:hover{
    transform: scale(1.1);
}

.logo{
    background-color: yellow;
    color: brown;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    border-radius: 8px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    text-shadow: orange 1px 1px 1px;
}

.detroit-pic{
    height: 15rem;
    width: 100%;
    margin: 0;
    border-radius: 1.1rem;
}

.detroit-text{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: white;
    text-shadow: black 3px 3px 5px;
    top: 10rem; 
}

.events-pics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin: 32px 0;
}

.events-pics img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.kwanza-run-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 8px black;
}

.kwanza-but{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
}

a {
    text-decoration: none;
}

.video-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-center video {
    width: 80%;
    padding-top: 50px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);
}
