body, html{
    background-color: orange;
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar a{
    float: right;
    letter-spacing: 3px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 25px;
    color: brown;
    transition: all .2s ease-in-out;
    border-radius: 50px;
}
.navbar a:hover{
    transform: scale(1.1);
}
.logo{
    background-color: yellow;
    color: brown;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    border-radius: 8px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    text-shadow: orange 1px 1px 1px;
}
.landing-pic{
    height: 500px;
    width: 500px;
    position: absolute;
    float: right;
    bottom: 90px;
    right: 20px;
    border-radius: 10px;
    z-index: 1;
}

.welcome{
    color: brown;
    padding-top: 120px;
    font-size: 130px;
    border-radius: 10px;
    padding-right: 550px;
    margin-right: 600px;
    margin-top: -80px;
    margin-bottom: auto;
    text-shadow: white 5px 5px 5px;
}
@media screen and (max-width:1080px) 
and (min-width:100px){

    .navbar a{
        font-size: 18px;
        letter-spacing: -1px;

    }
    .logo{
        text-align: center;
        padding-top: 60px;
        font-size: 40px;
    }
    .welcome{
        padding-right: 300px;
        font-size: 90px;
        bottom: 300px;
    }
    .landing-pic{
        height: 450px;
        width: 420px;
        top: 160px;
        right: auto;
        left: auto;
        margin-top: 600px;
    }
    .pic-container{
    text-align: center;
    justify-content: center;
    display: flex;
}
@media screen and (max-width:1200px) and (min-width:160px){
    .welcome{
        font-size: 75px;
        margin: auto;
        text-align: center;
        padding: 10px;
        margin-top: -50px;
    }
    .landing-pic{
        height: 400px;
        width: 400px;
        margin-top: 450px;
    }
}
@media screen and (max-width:1000px)and (min-width: 160px){
    .landing-pic{
        margin-top: 250px;
    }
}
@media screen and (min-width:100px){
    .landing-pic{
        margin-top: 350px;
    }
}
}
