
body{
    background-color: #f7b517;
}

.welcome{
    font-family: unset;
    text-align: center;
    font-size: 60px;
    background-color: white;
    border-radius: 30px;
}
.info{
    text-align: center;
    font-size: 60px;
}
.det{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
li{
    float: left;
}
li a{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration:dotted;
    color: white;
}
li a:hover{
    background-color: orange;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
