body{
    background: url(mountain.webp) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.welcome{
    font-family: unset;
    text-align: center;
    font-size: 60px;
    background-color: white;
    border-radius: 30px;
}
.info{
    text-align: center;
    font-size: 60px;
}
.det{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
li{
    float: left;
    font-size: 20px;
    border-right: 1px solid white;
}
li a{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration:dotted;
    color: white;
}
li a:hover{
    background-color: orange;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.active{
    background-color: orange;
}

.pictures{
   text-align: center;
}
    
.pic1{
    height: 500px;
}
.pic2{
    height: 500px;
}
.pic3{
    height: 500px;
}
.pic4{
    height: 500px;
}
.pic5{
    height: 500px;
}
